name: Build TS

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2.5.1
        with:
          node-version: 14.x
      - name: Install dependencies
        run: npm install

      - name: Lint and prettier format
        run: npm run lint && npm run format

      - name: Build project
        run: npm run build

        env:
          CI: true
